.carousel img {
    width: 100%;
    height: 400px;
}

.pointer {
    cursor: pointer;
}

body {
    background-image: url(/public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
}

.carousel_size {
    margin: 1 rem;
}

main .news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile {
    display: none;
}

@media (max-width: 806px) {
    .about_us {
        padding: 20px
    }
    main {
        display: block !important;
        width: 100% !important;
    }
    main .news {
        display: grid;
        justify-content: center;
    }
    .nomobile {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    /* .updateOrder {
        display: none;
    } */
    main .main__wrapper {
        background-color: white;
        /* margin: 30px; */
        display: grid;
        gap: 20px;
        border-radius: 5px;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 0 !important;
        border-radius: 0 !important;
        /* padding: 0 !important; */
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .carousel_size {
        margin: 0 !important
    }
}


main .main__wrapper {
    background-color: white;
    margin: 30px;
    display: grid;
    gap: 20px;
    border-radius: 5px;
    width: 80%;
    padding: 30px;
}

.non-border {
    border-bottom: none;
}
